header{
    background-color: greenyellow;
    width: 50%;
}
nav{
    background-color: orange;
    width: 30%
}
section{
    background-color: yellow;
    width: 70%;
    padding-left: 5%;
}
article{
    background-color: darkorange;
    width: 30%;
    padding-left: 3%;
}
aside{
    background-color: gray;
    padding-right: 10%;
}
div{
    display: flex;
    flex-direction: row;
}
footer{
    background-color: aqua;
    width: 30%;
}